


<form (ngSubmit)="register()" [formGroup]="registerForm">
    <div id="style" class="container p-5 mt-5 w-50 text-center">
        <h2>REGISTRATION PAGE</h2>
        
        <input name="uname" formControlName="username" id="uname" type="Text" class="form-control mt-3" placeholder="Username">
        <div *ngIf="this.registerForm.get('username')?.errors && this.registerForm.get('username')?.touched ">
            <p class="text-danger">Enter valid username</p>
        </div>
        
        <input name="accountno" formControlName="acno" id="accno" type="text" class="form-control mt-3" [placeholder]="data">
        <div *ngIf="this.registerForm.get('acno')?.errors && this.registerForm.get('acno')?.touched ">
            <p class="text-danger">Incorrect account number</p>
        </div>
        
        <input name="psw" formControlName="psw" id="pid" type="password" class="form-control mt-3" placeholder="Password">
        <div *ngIf="this.registerForm.get('psw')?.errors && this.registerForm.get('psw')?.touched ">
            <p class="text-danger">Enter valid password</p>
        </div>
        
        <button  type="submit" class="btn btn-dark mt-2">Register</button>
    </div>

</form>